/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Encabezado */
h3 {
  text-align: center;
  color: #054c97ec;
  margin: 15px 5px;
  font-family: 'Comic Neue';
  font-size: 20px;
}
h4 {
  font-family: 'Comic Neue';
  font-size: 15px;

}

/* container 
*/
.cont {
  min-width: 870px;
  max-width: 870px;
  font-family: 'Comic Neue';
}

#bgcolor {
  background-color: #0d6efd;
}

input[type='submit'] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #054c97ec;
}

.column-1 {
  max-width: 300px;
  min-width: 300px;
  font-size: 14px;
}
.column-2 {
  min-width: 500px;
  font-size: 13px;
}
.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide en 2 columnas igualmente espaciadas */
  grid-gap: 10px; /* Espacio entre elementos */
}

.full-width {
  grid-column: span 2; /* Hace que el elemento ocupe 2 columnas */
}

.btn-check {
  font-size: 1px;
}

.logo {
  width: 180px;
  height: 60px;
  padding: 10px;
}
