
.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide en 2 columnas igualmente espaciadas */
  grid-gap: 10px; /* Espacio entre elementos */
}

.full-width {
  grid-column: span 2; /* Hace que el elemento ocupe 2 columnas */
}

.btn-check {
  font-size: 1px;
}

